In [1]:
sentence_1="It is a good practice for us."
sentence_2="It was also good to know about it."

#### TF * IDF Vectorizer

In [7]:
# import the class
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [3]:
# create the object
tfv = TfidfVectorizer()

In [4]:
# apply the method
x = tfv.fit_transform([sentence_1, sentence_2])

In [5]:
x

<2x11 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [6]:
tfv.get_feature_names_out()

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [8]:
df = pd.DataFrame(data=x.toarray(), 
                  columns=tfv.get_feature_names_out())

In [9]:
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391

#### TF * IDF Transformer

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
cv = CountVectorizer()

In [36]:
word_vector = cv.fit_transform([sentence_1, sentence_2])
tfidf_transformer=TfidfTransformer() 
x = tfidf_transformer.fit_transform(word_vector)

In [45]:
df = pd.DataFrame(tfidf_transformer.idf_, 
                      index=cv.get_feature_names_out(),
                      columns=["idf_weights"])

In [46]:
df

          idf_weights
about        1.405465
also         1.405465
for          1.405465
good         1.000000
is           1.405465
it           1.000000
know         1.405465
practice     1.405465
to           1.405465
us           1.405465
was          1.405465

In [47]:
word_vector.toarray()

array([[0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 1]])